* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #fff;
  margin-top: 50px;
}

.header-container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(/images/Banner\ Image.png);
  background-repeat: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.happynewyear {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.partycelebration {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

.offer-container {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-alltext {
}

.off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.holiday {
  margin-top: 48px;
  margin-bottom: 16px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category {
  margin-bottom: 48px;
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.newyearimg {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  background-color: lightgray 50% / cover no-repeat;
  margin-bottom: 120px;
}

.midnight-container {
  padding-left: 110px;
  padding-bottom: 100px;
  margin: 0 auto;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(images/Vectorrr.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
}

.midnight-alltext {
  position: relative;
}

.welcometxt {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

.partytxt {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.join {
  padding-left: 10px;
  padding-top: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.C2024 {
  width: 349.165px;
  height: 464.654px;
  flex-shrink: 0;
  position: absolute;
  left: 1060px;
  right: 108.67px;
  margin: 0 auto;
}

.newpark-container {
  margin: 0 auto;
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 120px;
  margin-bottom: 120px;
}

.newparkhotel {
  padding-top: 100px;
  padding-bottom: 64px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}

.newparkhotel span {
  color: #070211;
}

.btn {
  margin: 0 auto;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comingsoon-container {
  width: 1600px;
  height: 7335px;
  background: #fff;
}

.txt1 {
  padding-bottom: 10px;
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.txt2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 10px;
  text-align: left;
}

.txt3 {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  text-align: left;
}

.circleimg {
  padding: 30px;
  flex-shrink: 0;
  border-radius: 463px;
  border: 15px solid #f00;
}

.circleimg22 {
  padding: 40px;
  width: 364.844px;
  height: 364.844px;
  flex-shrink: 0;
  border-radius: 364.844px;
  background: url(images/Ellipse\ 1.png),
    lightgray -91.279px 0px / 150.038% 100% no-repeat;
}

.t2024 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tpara {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.happysmall {
  margin-top: 33px;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  background-image: url(images/Group\ 96.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comingsoon-container {
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #fff;
  margin: 0 auto;
}

.holidayss-container {
  width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 120px;
}

.holidays-text {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.function {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.function22 {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.function22 span {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.function33 {
  width: 750px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  margin-bottom: 64px;
}

.holidayimages {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.image11 {
  margin: 0 auto;
  margin-bottom: 120px;
}

.image44 {
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
  background: lightgray -59.98px 0px / 151.553% 100% no-repeat;
  margin: auto;
}

.image33 {
  margin: 0 auto;
}

.image22 {
  width: 550px;
  margin: 0 auto;
}

.portfolio-container {
}

.portfolio-text {
}

.pt1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pt2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.pt3 {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 20px;
}

.portfolio-image1 {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(/images/Rectangle\ 3.png),
    lightgray 0px -35.755px / 100% 142.115% no-repeat;
}

.portfolio-image2 {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(images/Rectangle\ 4.png), lightgray 50% / cover no-repeat;
}
.portfolio-image3 {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
}
.portfolio-image4 {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(images/Rectangle\ 6.png),
    lightgray -195.366px 0px / 156.077% 100% no-repeat;
}
.portfolio-image5 {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
}
.portfolio-image6 {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
}

.portfolio1-imagess {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.portfolio-container {
  width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 0 auto;
}

.portfolio-text {
  text-align: left;
}

.news-container {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1320px;
  height: 616px;
  flex-shrink: 0;
  margin: 0 auto;
}

.mailimg {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.subscribe {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.about-subscribe {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 48px;
}

.newsletter-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container {
  margin-top: 48px;
} */

.content {
  width: 648px;
  height: 72px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  overflow: hidden;
}

.subscription {
  position: relative;
  width: 100%;
  height: 100%;
}

.subscription .add-email {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
}

.subscription .submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 210px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  background: #f00;
  color: #ffffff;
}

.before-submit {
  width: 210px;
  height: 72px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.footer-container {
  width: 1600px;
  height: 609px;
  flex-shrink: 0;
  background: #070211;
}

.address1 {
  position: relative;
  left: 140px;
  padding-top: 120px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.number {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.call-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.address2 {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 950px;
  align-items: center;
}

.address3 {
  position: absolute;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 950px;
  align-items: center;
}

.net-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.sitename {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}


